@import './imports.scss';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: RGBA(255, 255, 255, 0.08);
  width: 100%;
  height: 100vh;

  font-family: $fontLato;
}

.container__page {
  max-width: 1000px;
  margin: 0 auto;
}
