.card {
  display: flex;
  flex-direction: column;

  color: #8257e6;

  margin-top: 25px;

  .card__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    max-width: 700px;

    h3 {
      font-size: 1.5rem;
    }

    span {
      font-size: 12px;
    }
  }
  .card__content {
    p {
      padding: 10px;

      font-weight: 500;
    }
  }
}
